* {
  box-sizing: border-box;
}
.container {
  margin: auto;
  width: 440px;
}
.container-fuild {
  margin: auto;
  width: 100%;
}
.container > .row {
  width: 100%;
  height: auto;
}
.container > .row:before,
.container > .row:after {
  content: "";
  display: block;
  clear: both;
}
.container-fuild > .row {
  width: 100%;
  height: auto;
}
.container-fuild > .row:before,
.container-fuild > .row:after {
  content: "";
  display: block;
  clear: both;
}
/*小屏*/
.container > .row > .col-s-hide {
  display: none;
}
.container-fuild > .row > .col-s-hide {
  display: none;
}
.container > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container-fuild > .row > .col-s-1 {
  width: 8.33333333%;
  float: left;
}
.container > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container-fuild > .row > .col-s-2 {
  width: 16.66666667%;
  float: left;
}
.container > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container-fuild > .row > .col-s-3 {
  width: 25%;
  float: left;
}
.container > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container-fuild > .row > .col-s-4 {
  width: 33.33333333%;
  float: left;
}
.container > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container-fuild > .row > .col-s-5 {
  width: 41.66666667%;
  float: left;
}
.container > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container-fuild > .row > .col-s-6 {
  width: 50%;
  float: left;
}
.container > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container-fuild > .row > .col-s-7 {
  width: 58.33333333%;
  float: left;
}
.container > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container-fuild > .row > .col-s-8 {
  width: 66.66666667%;
  float: left;
}
.container > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container-fuild > .row > .col-s-9 {
  width: 75%;
  float: left;
}
.container > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container-fuild > .row > .col-s-10 {
  width: 83.33333333%;
  float: left;
}
.container > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container-fuild > .row > .col-s-11 {
  width: 91.66666667%;
  float: left;
}
.container > .row > .col-s-12 {
  width: 100%;
  float: left;
}
.container-fuild > .row > .col-s-12 {
  width: 100%;
  float: left;
}
/*中屏*/
@media screen and (min-width: 740px) {
  .container {
    width: 740px;
  }
  .container > .row > .col-s-hide {
    display: block;
  }
  .container > .row > .col-m-hide {
    display: none;
  }
  .container-fuild {
    width: 100%;
  }
  .container-fuild > .row > .col-s-hide {
    display: block;
  }
  .container-fuild > .row > .col-m-hide {
    display: none;
  }
  .container > .row > .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-m-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-m-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-m-3 {
    width: 25%;
    float: left;
  }
  .container-fuild > .row > .col-m-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-m-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-m-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-m-6 {
    width: 50%;
    float: left;
  }
  .container-fuild > .row > .col-m-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-m-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-m-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-m-9 {
    width: 75%;
    float: left;
  }
  .container-fuild > .row > .col-m-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-m-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-m-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-m-12 {
    width: 100%;
    float: left;
  }
  .container-fuild > .row > .col-m-12 {
    width: 100%;
    float: left;
  }
}
/*大屏*/
@media screen and (min-width: 1040px) {
  .container {
    width: 1040px;
  }
  .container > .row > .col-s-hide {
    display: block;
  }
  .container > .row > .col-m-hide {
    display: block;
  }
  .container > .row > .col-l-hide {
    display: none;
  }
  .container-fuild {
    width: 100%;
  }
  .container-fuild > .row > .col-s-hide {
    display: block;
  }
  .container-fuild > .row > .col-m-hide {
    display: block;
  }
  .container-fuild > .row > .col-l-hide {
    display: none;
  }
  .container > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-l-1 {
    width: 8.33333333%;
    float: left;
  }
  .container > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-l-2 {
    width: 16.66666667%;
    float: left;
  }
  .container > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container-fuild > .row > .col-l-3 {
    width: 25%;
    float: left;
  }
  .container > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-l-4 {
    width: 33.33333333%;
    float: left;
  }
  .container > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-l-5 {
    width: 41.66666667%;
    float: left;
  }
  .container > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container-fuild > .row > .col-l-6 {
    width: 50%;
    float: left;
  }
  .container > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-l-7 {
    width: 58.33333333%;
    float: left;
  }
  .container > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-l-8 {
    width: 66.66666667%;
    float: left;
  }
  .container > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container-fuild > .row > .col-l-9 {
    width: 75%;
    float: left;
  }
  .container > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container-fuild > .row > .col-l-10 {
    width: 83.33333333%;
    float: left;
  }
  .container > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container-fuild > .row > .col-l-11 {
    width: 91.66666667%;
    float: left;
  }
  .container > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
  .container-fuild > .row > .col-l-12 {
    width: 100%;
    float: left;
  }
}
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
ol,
dl,
dt,
dd,
form,
input {
  margin: 0;
  padding: 0;
  font-family: Arial, "微软雅黑";
  font-size: 14px;
  list-style: none;
  /*清除列表标签的小圆点*/
}
a {
  color: #333;
  text-decoration: none;
}
img {
  border: none;
}
